@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Dosis',   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Dosis, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styling the burger menu container */
.burger-icon {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  z-index: 1000;
}

/* Styling the menu container */
.bm-menu {
  background: #5a2b2b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  display: flex;
  flex-direction: column;
}

/* Menu item styling */
.menu-item {
  display: block;
  padding: 1em 0;
  color: white; /* Keeping white color to ensure visibility */
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #444;
  transition: color 0.2s ease-in-out;
}

.menu-item:hover {
  color: #ffa500; /* Orange hover effect */
}

/* Close button styling */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ffffff;
}

/* Menu overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.add-form-input-field {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
}

.add-form-label {
  @apply block mb-1 text-lg font-medium text-gray-900 dark:text-white;
}

.add-form-toggle-label {
  @apply inline-flex items-center text-lg mb-5 cursor-pointer;
}

.add-form-btn-primary {
  @apply text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.error-message {
  @apply text-red-500 bg-red-100 my-2 p-1 rounded-md text-sm
}

.loading-spinner {
  @apply animate-spin h-5 w-5 border-2 border-primary-500 rounded-full
}

.loading-text
{
  @apply text-center text-3xl text-gray-500 py-20
}

.button-whitebg-selected {
  @apply bg-gray-200 text-gray-800 font-bold
}

.button-whitebg-not-selected {
  @apply text-gray-800 hover:bg-gray-200
}