@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Dosis',   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styling the burger menu container */
.burger-icon {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

/* Styling the menu container */
.bm-menu {
  background: #333;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  display: flex;
  flex-direction: column;
}

/* Menu item styling */
.menu-item {
  display: block;
  padding: 1em 0;
  color: white; /* Keeping white color to ensure visibility */
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #444;
  transition: color 0.2s ease-in-out;
}

.menu-item:hover {
  color: #ffa500; /* Orange hover effect */
}

/* Close button styling */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ffffff;
}

/* Menu overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
